/autom4te.cache/output.0
/autom4te.cache/requests
/autom4te.cache/traces.0
#Global
.Apple*
.DS_Store
.clang_complete
.local.vimrc
.ycm_extra_conf.py*
Thumbs.db

# /
/*_fifo
*.exe
*.exe.*
/*.log
/*.ncb
/*.opt
*.pdb
/*.pid
/*.stackdump
*.ilk
*.suo
*.opensdf
*.sdf
*.user
*.o
*.a
*.yml
/char-server
/char-server
/config.log
/config.status
/core
/ipch
/login-server
/login-server
/Makefile
/Makefile.cache
/map-server
/map-server
/mapcache
/nbproject

# /3rdparty/libconfig/
/3rdparty/libconfig/Makefile
/3rdparty/libconfig/*.o
/3rdparty/libconfig/obj

# /3rdparty/mt19937ar/
/3rdparty/mt19937ar/Makefile
/3rdparty/mt19937ar/*.o

# /db/
/db/import

# /conf/
/conf/import
/conf/msg_conf/import

# /doc/
/doc/doxygen

# /log/
/log/*.log
/log/*.leaks

# /src/char/
/src/char/Makefile
/src/char/obj_sql

# /src/common/
/src/common/Makefile
/src/common/obj_all
/src/common/obj_sql
/src/common/svnversion.h

# /src/custom/
/src/custom

# /src/login/
/src/login/Makefile
/src/login/obj_sql

# /src/map/
/src/map/Makefile
/src/map/obj_sql
/src/map/pcre.h

# /src/test/
/src/test/Makefile
/src/test/obj

# /src/tool/
/src/tool/Makefile
/src/tool/obj_all

# /tools/
/tools/convert
/tools/adduser
/tools/*.exe
/tools/*.ilk
/tools/*.pdb

# /vcproj-12/
IDE/msproj/vcproj-12/build
# /vcproj-13/
IDE/msproj/vcproj-13/build

# Clion (todo, separate private then public conf)
IDE/clion/.idea/.name
IDE/clion/.idea/misc.xml
IDE/clion/.idea/modules.xml
IDE/clion/.idea/rathena.iml
IDE/clion/.idea/vcs.xml
IDE/clion/.idea/workspace.xml

# cmake
/build/

